@charset "UTF-8";
html {
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Times New Roman','Roman',sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a:link {
  color: #121212;
}

a:visited {
  color: #121212;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

.none {
  display: none;
}

.bg {
  background: url("../img/back.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg_before {
  position: absolute;
  width: 96vw;
  height: 92vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2vw rgba(255, 255, 255, 0.3);
}

.big_letters {
  font-size: calc(9.6rem + ((1vw - 2rem) * 2.1429));
}

/* コンテンツ top */
#top {
  position: absolute;
  bottom: 65vh;
  width: 100vw;
}

#top h1 {
  font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
  text-align: center;
  color: #ffffff;
}

.wine {
  position: absolute;
  left: -3vw;
  top: -30vh;
}

.wine img {
  width: 30vw;
  height: auto;
}

.man {
  position: absolute;
  left: 65vw;
  top: 25vh;
}

.man img {
  width: 20vw;
  height: auto;
}

.cat_run {
  position: absolute;
  left: 40vw;
  top: 51vh;
}

.cat_run img {
  width: 15vw;
  height: auto;
}

/* コンテンツ poe */
#poe {
  position: absolute;
  top: 15vh;
  width: 100vw;
}

#poe h1 {
  font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
  text-align: center;
  color: #ffffff;
  margin-bottom: 5vh;
}

#poe .poe_date {
  font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
  text-align: center;
  color: #ffffff;
  margin-bottom: 8vh;
}

#poe .poe_center {
  text-align: center;
}

#poe .about_poe {
  font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
  color: #ffffff;
  width: 70vw;
  display: inline-block;
  text-align: left;
  line-height: 3rem;
}

/* コンテンツ the_black_cat */
#the_black_cat {
  position: absolute;
  top: 15vh;
  width: 100vw;
}

#the_black_cat h1 {
  font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
  text-align: center;
  color: #ffffff;
  margin-bottom: 5vh;
}

#the_black_cat .cat_contents {
  justify-content: center;
  display: flex;
}

#the_black_cat .black_cat_img {
  width: 20vw;
  height: auto;
}

#the_black_cat .p_area {
  margin-left: 8vw;
}

#the_black_cat .poe_and_date {
  font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
  color: #ffffff;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

#the_black_cat .cat_center {
  text-align: center;
}

#the_black_cat .about_cat {
  font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
  color: #ffffff;
  width: 50vw;
  display: inline-block;
  text-align: left;
  line-height: 3rem;
}

/* コンテンツ books */
#books {
  position: absolute;
  top: 15vh;
  width: 100vw;
}

#books h1 {
  font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
  text-align: center;
  color: #ffffff;
  margin-bottom: 5vh;
}

#books .main_book {
  justify-content: center;
  display: flex;
}

#books .img_area {
  margin-left: 10vw;
}

#books .main_book_img {
  width: 15vw;
  height: auto;
}

#books .p_area {
  margin-left: 8vw;
}

#books .book_title {
  font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
  color: #ffffff;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

#books .about_book_center {
  text-align: center;
}

#books .about_book {
  font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
  color: #ffffff;
  width: 30vw;
  display: inline-block;
  text-align: left;
  line-height: 3rem;
}

#books .other_books {
  justify-content: center;
  display: flex;
}

#books .other_books .book {
  margin: 9vh 2vw 0vh;
  bottom: 2vh;
}

#books .other_books .book1 {
  background: url("../img/black_cat3.png");
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 18vh;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

#books .other_books .book1:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

#books .other_books .book2 {
  background: url("../img/the_gold_bug.png");
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 18vh;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

#books .other_books .book2:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

#books .other_books .book3 {
  background: url("../img/Morgue.png");
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 18vh;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

#books .other_books .book3:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

#books .other_books .book4 {
  background: url("../img/masterpieces.png");
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 18vh;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

#books .other_books .book4:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}
