html{
	font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Times New Roman','Roman',sans-serif;
	font-size: 62.5%;
}

a {
	text-decoration:none;
}

a:link {color:#121212;} 
a:visited {color:#121212;} 
a:hover {color:#ffffff;} 
a:active {color:#ffffff;} 

.none{
	display: none;
}


// .bg{
// 	background: url("../img/back.png");
// 	background-size: cover;
// 	position: relative;
// 	height:100vh;
// 	width:100vw;
// 	}

// .bg::before{
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	background-color: rgba(0,0,0,0.3);
// 	border: solid 2vw rgba(255,255,255,0.3);
// }


.bg_sec {
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  }
  
  #background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: calc(100% + 6vw);
	height: calc(100% + 6vh);
	background-image: url(../img/back.png);
	background-repeat: no-repeat;
	background-size: cover;
  }


.bg_before{
	position: fixed;
	width: 96vw;
	height: 92vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	border: solid 2vw rgba(255,255,255,0.3);
}

.big_letters{
	font-size: calc(9.6rem + ((1vw - 2rem) * 2.1429));
}


/* コンテンツ top */
#top{
	position: fixed;
	width:100vw;
	height: 100vh;
	
	h1{
		font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
		text-align: center;
		color:#ffffff;
		padding-top: 15vh;
	}
}

.wine{
	position: absolute;
	left: -10vw;
	top: -5vh;

	img{
		width: 35vw;
		height: auto;
	}
}
.drop{
	position: absolute;
	left: 23.9vw;
	top: -20vh;

	img{
		width: 1vw;
		height: auto;
	}
}



.loop_wrap {
	display: flex;

	overflow: hidden;
  }
  .loop_wrap img:first-child {
	animation: loop 50s -25s linear infinite;
  }
  
  .loop_wrap img:last-child {
	animation: loop2 50s linear infinite;
  }
  @keyframes loop {
	0% {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(-500%);
	}
  }
  
  @keyframes loop2 {
	0% {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-500%);
	}
  }


.man{
	position: absolute;
	left: 80vw;
	bottom: 6vh;
	z-index: 100;

	img{
		width: 20vw;
		height: auto;
	}
}

.cat_run{
	position: absolute;
	left: 50vw;
	bottom: 7vh;
	z-index: 100;

	img{
		width: 15vw;
		height: auto;
	}
}

/* コンテンツ the_black_cat */
#the_black_cat{
	position: fixed;
	//top: 100vh;
	padding-top: 15vh;
	width: 100vw;
	height: 85vh;
	
	h1{
		font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
		text-align: center;
		color:#ffffff;
		margin-bottom: 5vh;
	}

	.cat_contents{
		justify-content: center;
		display: flex;
	}

	.black_cat_img{
		width: 20vw;
		height: auto;
	}

	.p_area{
		margin-left: 8vw;
	}

	.poe_and_date{
		font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
		//text-align: center;
		color:#ffffff;
		margin-top: 2vh;
		margin-bottom: 6vh;
	}
	.cat_center{
		text-align: center;
	}
	.about_cat{
		font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
		color:#ffffff;
		width: 50vw;
		display: inline-block;
		text-align: left;
		line-height: 3rem;
	}
}

/* コンテンツ poe */
#poe{
	position: fixed;
	//top: 200vh;
	padding-top: 15vh;
	width: 100vw;
	height: 85vh;
	
	h1{
		font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
		text-align: center;
		color:#ffffff;
		margin-bottom: 5vh;
	}

	.poe_date{
		font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
		text-align: center;
		color:#ffffff;
		margin-bottom: 8vh;
	}
	.poe_center{
		text-align: center;
	}
	.about_poe{
		font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
		color:#ffffff;
		width: 70vw;
		display: inline-block;
		text-align: left;
		line-height: 3rem;
	}
}

/* コンテンツ books */
#books{
	position: fixed;
	//top: 300vh;
	padding-top: 15vh;
	width: 100vw;
	height: 85vh;
	z-index: 10000;
	
	h1{
		font-size: calc(3.6rem + ((1vw - 0.76rem) * 2.1429));
		text-align: center;
		color:#ffffff;
		margin-bottom: 5vh;
	}

	.main_book{
		justify-content: center;
		display: flex;
	}

	.img_area{
		margin-left: 10vw;
	}

	.main_book_img{
		width: 15vw;
		height: auto;
	}

	.p_area{
		margin-left: 8vw;
	}

	.book_title{
		font-size: calc(1.6rem + ((1vw - 0.76rem) * 2.1429));
		//text-align: center;
		color:#ffffff;
		margin-top: 2vh;
		margin-bottom: 6vh;
	}
	.about_book_center{
		text-align: center;
	}
	.about_book{
		font-size: calc(1.2rem + ((0.8vw - 0.76rem) * 2.1429));
		color:#ffffff;
		width: 30vw;
		display: inline-block;
		text-align: left;
		line-height: 3rem;
	}

	.other_books{
		justify-content: center;
		display: flex;
		bottom: 0vh;
		overflow: hidden;
		position: absolute;
		bottom: 2vw;
		left: 0;
		right: 0;

		.book{
			margin:9vh 2vw 0vh;
		}

		.book1{
			background: url('../img/the_gold_bug.png');
			display: inline-block;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 10vw;
			height: 18vh;
			-webkit-transition: 0.8s;
			-moz-transition: 0.8s;
			-o-transition: 0.8s;
			-ms-transition: 0.8s;
			transition: 0.8s;	
		}

		.book1:hover{
			transform: scale3d(1.3, 1.3, 1.3);
		}

		.book2{
			background: url('../img/black_cat3.png');
			display: inline-block;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 10vw;
			height: 18vh;
			-webkit-transition: 0.8s;
			-moz-transition: 0.8s;
			-o-transition: 0.8s;
			-ms-transition: 0.8s;
			transition: 0.8s;
		}

		.book2:hover{
			transform: scale3d(1.3, 1.3, 1.3);
		}

		.book3{
			background: url('../img/Morgue.png');
			display: inline-block;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 10vw;
			height: 18vh;
			-webkit-transition: 0.8s;
			-moz-transition: 0.8s;
			-o-transition: 0.8s;
			-ms-transition: 0.8s;
			transition: 0.8s;
		}

		.book3:hover{
			transform: scale3d(1.3, 1.3, 1.3);
		}

		.book4{
			background: url('../img/masterpieces.png');
			display: inline-block;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 10vw;
			height: 18vh;
			-webkit-transition: 0.8s;
			-moz-transition: 0.8s;
			-o-transition: 0.8s;
			-ms-transition: 0.8s;
			transition: 0.8s;
		}

		.book4:hover{
			transform: scale3d(1.3, 1.3, 1.3);
		}
	}

}

/* コンテンツ dummy */
#dummy{
	position: absolute;
	top: 380vh;
	width: 100vw;
	height: 85vh;
	z-index: 1000;
}
