@import url('https://fonts.googleapis.com/css?family=Merienda');

svg {
  height: 25vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  //transform: scale(1, -1);// なんか上下反転したから追加した
  z-index: 10;
}

.svgBack {
  height: 25vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0vw;
  //transform: scale(1, -1);// なんか上下反転したから追加した
  z-index: 1;
}

